In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
data = pd.DataFrame({"Company":["GOOGLE","GOOGLE","META","META","META","META"],
                   "Person":["준원","수혁","종현","서영","재영","혜민"],
                   "Sales":[200,120,340,124,243,350]})

In [5]:
data

  Company Person  Sales
0  GOOGLE     준원    200
1  GOOGLE     수혁    120
2    META     종현    340
3    META     서영    124
4    META     재영    243
5    META     혜민    350

SyntaxError: invalid syntax (4111593082.py, line 1)